<%= form_for @article do |article_form| %>
  <%= article_form.fields_for(:comments, Comment.new) do |comment_fields| %>
  <p>
    <%= comment_fields.label :commenter %><br>
    <%= comment_fields.text_field :commenter %>
  </p>
  <p>
    <%= comment_fields.label :body %><br>
    <%= comment_fields.text_area :body %>
  </p>
<% end %>
  <p>
    <%= article_form.submit 'Save comment' %>
  </p>
<% end %>
