<% if @article.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@article.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @article, :html => { :multipart => true } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>

  <%= f.fields_for(:attachments, Attachment.new) do |attachment_fields| %>
    <p>
      <%= attachment_fields.label :image %><br>
      <%= attachment_fields.file_field :image %>
    </p>
    <p>
      <%= attachment_fields.label :caption %><br>
      <%= attachment_fields.text_field :caption %>
    </p>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>

